<!DOCTYPE html>
{% autoescape true %}
{% include 'head.html' %}
	<body>
		{% include 'header.html' %}
		<div class="main-div">
			<form id="qForm" action="/createquestion" method="post">
			  <label>Title &nbsp;&nbsp;</label><input name="title" class="q-title ui-corner-all" type="text" id="title"></input>
			  <br></br>
			  <textarea class="q-description ui-corner-all" name="description" id="description" rows="15" cols="104">Enter you question here...</textarea>
			  <br></br>
			  <label>Tags &nbsp;&nbsp;</label><ul class="q-title" type="text" name="myTags" id="myTags"></ul>			  
			 <br>
			 <div class="regular-button space">
		        <a href="javascript: submitQuestion()">Create</a>
		    </div>
		    <div class="regular-button cancelbtn">
		        <a href="/">Cancel</a>
		    </div>
			</form>
		</div>
  		<script type="text/javascript">
  		var firstTime = true;
  		$('#myTags').tagit();
  		$("#description").focus(function()
  		{
  			if (firstTime)
  			{
  				$(this).val("");
  				firstTime = false;
  			}
  		});

  		function submitQuestion()
  		{
  			if ( $("#title").val() != "" && $("#description").val())
  				$("#qForm").submit();
  		}
  		</script>
  	</body>
</html>
{% endautoescape %}
