<!DOCTYPE html>
{% autoescape true %}
{% include 'head.html' %}
  <body>
    {% include 'header.html' %}
    <div class="main-div" >
      <div class="regular-button fright">
        <a href="preparequestion">Ask Question</a>
    </div>
  </div>
    <form action="search">
    <div style="margin-left: 88px">
      Search questions by tags <input style="width:200px;" class="q-title ui-corner-all" type="text" name="tag" id="tag"/>
      <div class="regular-button">
        <a href="javascript:search();">Go</a>
      </div>
    </div>
    </div>
      </form>

    <br>
    <div id="maindiv" class="main-div">

      {% include 'questions.html' %}

<br>
       {% if cursor %}
    <a class="btn" href="?cursor={{cursor}}"> Older... </a>
{% endif %}
  </div>

 
<script type="text/javascript">
  $('p').linkify();


  $('.question-tags').tagit({
      readOnly: true
  });

  truncateText();
  function truncateText() {

    $( "p[name='description']" ).each(function() {
      if( $(this).text().length > 500)
        $( this ).text( $(this).text().substr(0,500) + '...' );
    });
}

function vote(id, direction)
{  

  $.ajax({
    url: "/questionvote",
    type: 'POST',
    data: {
      'id' : id,
      'direction' : direction
    },
    success: function( data ) 
    {
      if (direction == '1')
      {
        $(document.getElementById( 'voteup'+id ) ).removeClass("up").addClass("updisabled");
      }
      else
      {
        $(document.getElementById( 'votedown'+id ) ).removeClass("down").addClass("downdisabled");
      }

      var old =  parseInt($(document.getElementById( 'vote'+id ) ).text());
      $(document.getElementById( 'vote'+id )).text( old + parseInt(direction) );

    }
  });
}

function search()
{
  $.ajax({
    beforeSend : function (XMLHttpRequest)
    {
      $("#maindiv").html("Searching...");
    },
    url: "/search",
    type: 'POST',
    data: {
      'tag' : $("#tag").val()
    },
    success: function( data ) 
    {
      $("#maindiv").html(data);
    }
  });
}
</script>
  </body>
</html>
{% endautoescape %}




