<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
	  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	  <link type="text/css" href="/stylesheets/jquery-ui.css" rel="stylesheet" />
	  <link type="text/css" href="/stylesheets/styles.css" rel="stylesheet" />
	  <link href="/stylesheets/jquery.tagit.css" rel="stylesheet" type="text/css">
    	<link href="/stylesheets/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
	  <script src="/scripts/jquery.js"></script>
	  <script src="/scripts/jquery-ui.js"></script>
	  <script src="/scripts/linkify.js"></script>
	  <script src="/scripts/tag-it.min.js"></script>
	</head>
	<body>
		{% include 'header.html' %}
		<div class="regular-button add">
        <a href="javascript:prepareAnswer();">Answer</a>
    </div>
		<div id="mainDiv" class="main-div">
			<form id="qForm" action="/editquestion" method="post">
				<a href="/export?id={{ question.id }}">export</a>
				<input type="hidden" name="id" id="id" value="{{ question.id }}"/>
			  <label>Title &nbsp;&nbsp;</label>
			  {% if creator %}
			  	<input name="title" class="q-title ui-corner-all" type="text" id="title" value="{{ question.name }}"></input>
			  {% else %}
			  	<p>  {{ question.name }} </p>
			  {% endif %}
			  <br></br>
			  {% if creator %}
			  	<textarea class="q-description ui-corner-all" name="description" id="description" rows="15" cols="104">{{ question.description }}</textarea>
			  {% else %}
			  	<p >{{ question.description }}</p>
			  {% endif %}
			  <br></br>
			  <label>Tags &nbsp;&nbsp;</label>
			  <ul class="q-title" type="text" name="myTags" id="myTags">
			  	{% for tag in question.tags %}
			  	<li>{{ tag }} </li>
			  	{% endfor %}
			  	<!-- {{ question.tags|safe }} -->
			  </ul>	

			  {% for image in question.images %}
			  <img class="image" src="/serve/{{ image }}"/>
			  {% endfor %}
			  
			  <p class="">Created on {{ question.creationDate }} by {{ question.user }}</p>
                      <p class="">Last modified {{ question.lastUpdateDate }}</p>
			  <div class="regular-button create">
		        <a href="javascript: submitQuestion()">Create</a>
		    </div>
		    <div class="regular-button cancel">
		        <a href="/">Cancel</a>
		    </div>
			</form>
		  <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
    			Upload File: <input type="file" name="file">
    			<input type="hidden" name="qid" value="{{ question.id }}"/><br> <input type="submit" name="submit" value="Submit"> </form>


			 <br>

			 {% if question.answers %}
        {% for answer in question.answers %}
          <div class="single-question">
            <div class="question-title">
            	{% if answer.creator %}
			  	<input name="title" class="q-title ui-corner-all" type="text" id="title{{ answer.id }}" value="{{ answer.name }}"></input>
			  {% else %}
			  	<h1>{{ answer.name }}</h1>
			  {% endif %}
              
            </div>
            <div class="question-details" >
              <table>
                <tbody>
                  <tr>
                    <td class="votecell">
                      <div class="vote">
                        {% if answer.canVoteUp %}
                          <a id="voteup{{ answer.id }}" class="vote up" href="javascript:answervote('{{ question.id }}', '{{ answer.id }}', '1');" ></a>
                        {% else %}
                          <a  class="vote updisabled" title="you already voted this" ></a>
                        {% endif %}
                        <label id="vote{{ answer.id }}" class="vote-count">{{ answer.totalVotes }}</label>
                        {% if answer.canVoteDown %}
                        <a id="votedown{{ answer.id }}" class="vote down" href="javascript:answervote('{{ question.id }}', '{{ answer.id }}', '-1');" ></a>
                        {% else %}
                        <a  class="vote downdisabled" title="you already voted this" ></a>
                        {% endif %}
                    </td>
                  
                    <td>
                      <div class="question-description">
                       	{% if answer.creator %}
                        	<textarea class="q-description ui-corner-all" name="description" id="description{{ answer.id }}" rows="15" cols="104">{{ answer.description }}</textarea>
                        {% else %}
						  	<p name="description">{{ answer.description }}</p>
						 {% endif %}
                      </div>

                       

                      {% for image in answer.images %}
					  <img  class="image"  src="/serve/{{ image }}"/>
					  {% endfor %}

					{% if answer.creator %}
					  <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
		    			Upload File: <input type="file" name="file">
		    			<input type="hidden" name="qid" value="{{ question.id }}"/>
		    			<input type="hidden" name="aid" value="{{ answer.id }}"
		    			<br> <input type="submit" name="submit" value="Submit"> </form>
		    		{% endif %}
                      <p class="creation">Created on {{ answer.creationDate }} by {{ answer.user }}</p>
                      <p class="edited">Last modified {{ answer.lastUpdateDate }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        {% endfor %}
      {% endif %}

			 
		</div>
  		<script type="text/javascript">

  		$("#myTags").tagit();
  		$('p').linkify();
  		function submitQuestion()
  		{
  			$("#qForm").submit();
  		}

  		function prepareAnswer()
  		{
  			var random = new Date().getTime();
  			var answerHtml = "";
  			answerHtml += '<div id="div' + random + '" class="main-div">';
			answerHtml += '<form id="aForm' + random + '" action="/createanswer" method="post">';
			answerHtml += '<input type="hidden" name="qid" id="qid" value="{{ question.id }}"/>';
			answerHtml += '<label>Title &nbsp;&nbsp;</label><input name="title" class="q-title ui-corner-all" type="text" id="title"></input>';
			answerHtml += '<br></br>';
			answerHtml += '<textarea class="q-description ui-corner-all" name="description" id="description" rows="15" cols="104"></textarea>';
			answerHtml += '<br></br>';
			answerHtml += '<div class="regular-button create">';
		    answerHtml += '<a href="javascript: submitAnswer('+random+')">Create</a>';
		    answerHtml += '</div>';
		   	answerHtml += '<div class="regular-button cancel">';
		    answerHtml += '<a href="javascript:cancelAnswer('+ random +');">Cancel</a></div></form></div>';
		    answerHtml += "<br>";
		    $("#mainDiv").append(answerHtml);

  		}

  		function cancelAnswer(id)
  		{
  			$("#div" + id).remove();
  		}

  		function submitAnswer(id)
  		{
  			var serialized = $("#aForm"+id).serialize();

  			$.ajax({
	          beforeSend : function (XMLHttpRequest)
	          {
	           $("#div" + id).html("Loading....");
	          },
	          url: "/createanswer",
	          type: 'POST',
	          data: serialized,
	          success: function( data ) 
	          {
	            $('#div'+id).html(data);
	            
	          }
	        });
  		}

  		 function submitQuestion()
  		{
  			var serialized = $("#qForm").serialize();

  			$.ajax({
	          beforeSend : function (XMLHttpRequest)
	          {
	          },
	          url: "/editquestion",
	          type: 'POST',
	          data: serialized,
	          success: function( data ) 
	          {
	            
	          }
	        });
  		}

  		function vote(id, direction)
		{
		  $.ajax({
		    beforeSend : function (XMLHttpRequest)
		    {
		    },
		    url: "/questionvote",
		    type: 'POST',
		    data: {
		      'id' : id,
		      'direction' : direction
		    },
		    success: function( data ) 
		    {
		      if (direction == '1')
		      {
		        $("#voteup"+id).removeClass("up").addClass("updisabled");
		      }
		      else
		      {
		        $("#votedown"+id).removeClass("down").addClass("downdisabled");
		      }
		      $("#"+id+"-vote").html(  parseInt($("#"+id+"-vote").html()) + parseInt(direction) );
		    }
		  });
		}

		function answervote(qid, id, direction)
		{
			$.ajax({
		    beforeSend : function (XMLHttpRequest)
		    {
		    },
		    url: "/answervote",
		    type: 'POST',
		    data: {
		      'qid' : qid,
		      'id' : id,
		      'direction' : direction
		    },
		    success: function( data ) 
		    {
		      if (direction == '1')
		      {
		        $("#voteup"+id).removeClass("up").addClass("updisabled");
		      }
		      else
		      {
		        $("#votedown"+id).removeClass("down").addClass("downdisabled");
		      }
		      $("#"+id+"-vote").html(  parseInt($("#"+id+"-vote").html()) + parseInt(direction) );
		    }
		  });
		}
  		</script>
  	</body>
</html>
{% endautoescape %}
