<!DOCTYPE html>
{% autoescape true %}
{% include 'head.html' %}

	<body>
		{% include 'header.html' %}
		
		<div id="mainDiv" class="main-div">
			
			<div id="questiondiv" class="questiondiv">
			<div class="regular-button answer">

        <a href="javascript:prepareAnswer();">Answer</a>
    </div>

    <div class="regular-button fright cancelbtn space">
		        <a href="/">Cancel</a>
		    </div>
			<h1>Question</h1>
			<br>
			<form id="qForm" action="/editquestion" method="post">
				<input type="hidden" id="questioncreator" value="{{ creator }}"/>
				<input type="hidden" name="qid" id="qid" value="{{ question.id }}"/>
				<div class="answer-title">

					{% if creator %}
						<input name="title" class="q-title ui-corner-all" type="text" id="title{{ question.id }}" value="{{ question.name }}"></input>
					{% else %}
	              		<h1>{{ question.name }}</h1>
	              	{% endif %}
	            </div>
				<div class="question-details" >
              <table>
                <tbody>
                  <tr>
                    <td class="votecell">
                      <div class="vote">
                        {% if question.canVoteUp %}
                          <a id="voteup{{ question.id }}" class="vote up" href="javascript:vote('{{ question.id }}', '1');" ></a>
                        {% else %}
                          <a  class="vote updisabled" title="you already voted this" ></a>
                        {% endif %}
                        <label id="vote{{ question.id }}" class="vote-count">{{ question.totalVotes }}</label>
                        {% if question.canVoteDown %}
                        <a id="votedown{{ question.id }}" class="vote down" href="javascript:vote('{{ question.id }}', '-1');" ></a>
                        {% else %}
                        <a  class="vote downdisabled" title="you already voted this" ></a>
                        {% endif %}
                      </div>
                    </td>
                  
                    <td>
                      <div class="question-description">
                      	{% if creator %}
                      	<textarea class="q-description ui-corner-all" name="description" id="description" rows="15" cols="104">{{ question.description }}</textarea>
                      	{% else %}
                        	<p name="description">{{ question.description }}</p>
                        {% endif %}
                      </div>
                     <br>
                      {% if question.tags %}
                      <label>Tags &nbsp;&nbsp;</label>
                        <ul class="q-title" type="text" name="myTags" id="myTags">
						  	{% for tag in question.tags %}
						  	<li>{{ tag }} </li>
						  	{% endfor %}
						  </ul>	
                      {% endif %}
<br>
                      {% for image in question.images %}
					  <img class="image" src="/serve/{{ image }}"/>
					  {% endfor %}

                      <p class="creation">Created on {{ question.creationDate }} by {{ question.user }}</p>
                      <p class="edited">Last modified {{ question.lastUpdateDate }}</p>
                    </td>
                  </tr>
              
            </div>
				
				
                      </form>
                      {% if creator %}
<tr>
	<td class="votecell"></td>
	<td>
		<br>
                 <form id="qFormupload" action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
    			Upload File: <input type="file" name="file">
    			<input type="hidden" name="qid" value="{{ question.id }}"/>
    			<div class="regular-button ">
    				<a href="javascript: upload('qFormupload')">Upload image</a>
    			</div>  </form>
<br>
			  <div class="regular-button ">
		        <a href="javascript: submitQuestion()">Save Question</a>
		    </div>
		    
		    <img class="loadingimage" id="loadingimage" src="images/ajax-loader.gif"/>
		    <label class="saved" id="saved">Saved...</label>
			<br></br>
		</td>
	</tr>
	{% endif %}
			  </tbody>
              </table>
		</div>

		<h1>Answers</h1>
			 {% if question.answers %}

        {% for answer in question.answers %}
        	{% include 'viewanswer.html' %}
        {% endfor %}
        {% else %}
        <p id="noanswer"> No one has answered this yet...</p>
      {% endif %}
		</div>
  		<script type="text/javascript">

  		$(".loadingimage").hide();
  		$(".saved").hide();

  		var isCreator = $("#questioncreator").val();
  		
  		if (  isCreator == 'True' )
  			$("#myTags").tagit();
  		else
  			$("#myTags").tagit({
				readOnly: true
		  	
		  });

  		$('p').linkify();


  		function prepareAnswer()
  		{

  			$("#noanswer").remove();
  			var random = new Date().getTime();
  			var answerHtml = "";
  			answerHtml += '<div id="div' + random + '" class="main-div">';
			answerHtml += '<form id="aForm' + random + '" action="/createanswer" method="post">';
			answerHtml += '<input type="hidden" name="qid" id="qid" value="{{ question.id }}"/>';
			answerHtml += '<label>Title &nbsp;&nbsp;</label><input name="title" class="q-title ui-corner-all" type="text" id="title"></input>';
			answerHtml += '<br></br>';
			answerHtml += '<textarea class="q-description ui-corner-all" name="description" id="description" rows="15" cols="104"></textarea>';
			answerHtml += '<br></br>';
			answerHtml += '<div class="regular-button space ">';
		    answerHtml += '<a href="javascript: submitAnswer(\'' + random +'\')">Create</a>';
		    answerHtml += '</div>';
		   	answerHtml += '<div class="regular-button cancelbtn">';
		    answerHtml += '<a href="javascript: cancelAnswer(\'' + random +'\')">Cancel</a>';
		    answerHtml += '</div>';
		    answerHtml += '</form></div>';
		    answerHtml += "<br>";
		    $("#mainDiv").append(answerHtml);
		    $("body").animate({ scrollTop: $(document).height() }, "slow");

  		}

  		function cancelAnswer(id)
  		{
  			$("#div" + id).remove();
  		}

  		function submitAnswer(id)
  		{
  			var serialized = $("#aForm"+id).serialize();

  			$.ajax({
	          beforeSend : function (XMLHttpRequest)
	          {
	           $("#div" + id).html("Loading....");
	          },
	          url: "/createanswer",
	          type: 'POST',
	          data: serialized,
	          success: function( data ) 
	          {
	            $('#div'+id).html(data);
	            $(".loadingimage").hide();
  				$(".saved").hide();
	          }
	        });
  		}

		function editAnswer(id)
  		{
  			var serialized = $(document.getElementById( 'aForm'+id ) ).serialize();

  			$.ajax({
	          beforeSend : function (XMLHttpRequest)
	          {
	          	$(document.getElementById( 'loadingimage'+id ) ).show();
	          },
	          url: "/editanswer",
	          type: 'POST',
	          data: serialized,
	          success: function( data ) 
	          {
	            $(document.getElementById( 'loadingimage'+id ) ).hide();
	            $(document.getElementById( 'saved'+id ) ).fadeIn().delay(2000).fadeOut();
	          }
	        });
  		}

  		 function submitQuestion()
  		{
  			var serialized = $("#qForm").serialize();
  			$.ajax({
	          beforeSend : function (XMLHttpRequest)
	          {
	          	$("#loadingimage").show();
	          },
	          url: "/editquestion",
	          type: 'POST',
	          data: serialized,
	          success: function( data ) 
	          {
	            $("#loadingimage").hide();
	            $("#saved").fadeIn().delay(2000).fadeOut();
	          }
	        });
  		}

  		function vote(id, direction)
		{

		  $.ajax({
		    beforeSend : function (XMLHttpRequest)
		    {
		    },
		    url: "/questionvote",
		    type: 'POST',
		    data: {
		      'id' : id,
		      'direction' : direction
		    },
		    success: function( data ) 
		    {
		      if (direction == '1')
		      {
		        $(document.getElementById( 'voteup'+id ) ).removeClass("up").addClass("updisabled");
		      }
		      else
		      {
		        $(document.getElementById( 'votedown'+id ) ).removeClass("down").addClass("downdisabled");
		      }

		      var old =  parseInt($(document.getElementById( 'vote'+id ) ).text());
      		  $(document.getElementById( 'vote'+id )).text( old + parseInt(direction) );
		    }
		  });
		}

		function answervote(qid, id, direction)
		{
			$.ajax({
		    beforeSend : function (XMLHttpRequest)
		    {
		    },
		    url: "/answervote",
		    type: 'POST',
		    data: {
		      'qid' : qid,
		      'id' : id,
		      'direction' : direction
		    },
		    success: function( data ) 
		    {
		      if (direction == '1')
		      {
		        $(document.getElementById( 'voteup'+id ) ).removeClass("up").addClass("updisabled");
		      }
		      else
		      {
		        $(document.getElementById( 'votedown'+id ) ).removeClass("down").addClass("downdisabled");
		      }
		      
		      var old =  parseInt($(document.getElementById( 'vote'+id ) ).text());
      		 $(document.getElementById( 'vote'+id )).text( old + parseInt(direction) );
		    }
		  });
		}

		function upload(id)
		{
			$(document.getElementById(id)).submit();
		}
  		</script>
  	</body>
</html>
{% endautoescape %}
