
body
{
	font-family: arial,verdana,lucida,sans-serif;
}

a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

p
{
	white-space: pre-wrap;
}

.welcome
{
	 text-align: right;
}


.center
{
  width: 463px;
  display: block;
  margin: 50px auto 90px auto;
}

.main-div
{
	margin: 0 auto;
	width: 1100px;
}

.main-div p
{
	margin-left: 8px;
}
.question-title 
{
	
	width: 1100px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

 h1
{
	margin-bottom: 5px;
	color: #2D6396;
}

.question-title a
{
	float: right;
	margin-top: -28px;
	color: #2D6396;
}

.question-details
{
	width: 728px;
}

.votecell
{
	width: 60px;
	vertical-align: top;
}

.vote
{
	text-align:center
}

.vote
{
	display: block;
	width: 30px;
	height: 24px;
	
	background-repeat: no-repeat;
	cursor:pointer;
}

.up
{
	background-image: url('/images/upvote.png');
}

.down
{
	background-image: url('/images/downvote.png');
}

.updisabled
{
	background-image: url('/images/upvote-disabled.jpg');
	cursor: default;
}
.downdisabled
{
	background-image: url('/images/downvote-disabled.jpg');
	cursor: default;
}
.vote-count
{
	padding-top: 2px;
	color: #555;
}


.question-description
{
	width: 1000px;
	margin: 0 5px;
	line-height: 23px;
}

.question-description p
{
	white-space: pre-wrap;
}



.regular-button
{
	min-width: 70px;
	max-width: 250px;

	background: #347BFF;

	height: 26px;
	color: white;
	text-align: center;
	display: inline-block;
	min-width: 70px;
	padding: 0px 5px 0px 5px;
	border: 0;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #2D6396;
	font-weight: normal;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 14px;
	line-height: 27px;
	font-family: Arial;

}


.regular-button a
{
	color: white;
	padding: 0 8px;
}

.wrap-buttons
{
	height: 22px;
float: right;
margin-top: -30px;
margin-right: 3px;
}

.fleft
{
	float: left;
}

.fright
{
	float: right;
}
.add
{
	margin-right: 88px;
	float:right;
}

.answer
{
	margin-right: 315px;
	float:right;
}

.create
{
	margin-right: 1025px;
}

.cancel
{
	margin: -30px 928px 0 100px;
}
/*.regular-button a
{
	padding: 6px 12px 6px 12px;
	color: #fff;
	display: block;
}*/
/*.regular-button a:hover
{
	padding: 6px 12px 6px 12px;
	color: #F8A13F;
	display: block;
}*/

.creation
{
	font-size: 12px;
	width: 123px;
	margin-right: 0;
	/*float: right;
	margin-top: -20px;*/
}

.edited
{
	font-size: 12px;
	width: 123px;
	margin-left: 182px !important;
	margin-top: -55px;
}

.tagit
{
	width: 690px !important ;
	margin-top: -25px;
	margin-left: 48px !important;
	border: solid 1px gray !important;
	font-size: 100% !important;
}
.q-title
{
	width: 777px;
	padding: 1px 5px;
	font-size: 100%;
	border: solid 1px gray;
	overflow: auto;
}

.q-description
{
	resize: none;
	border: solid 1px gray;
	font-size: 100%;
}

.image
{
	width: 750px;
}

.pagination li {
  display:inline-block;
  padding:5px;
}

.question-tags
{
	margin-top: 5px;
margin-left: 10px !important;
}

.single-question
{
	padding-bottom: 15px;
}

.questiondiv
{
	width: 1100px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.space
{
	margin-right: 10px;
}

.cancelbtn
{
	background-color: gray;
}

.loading{background:white; /*border:1px solid #ccc;*/ position:relative; height:500px; padding:40px 0 20px 0; margin-top:3px; text-align:center; width:100%; float:left}
.loading div{font-size:18px; color:#333}

.answer-title 
{
	
	width: 1100px;
	margin-bottom: 20px;
}